* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar_list {
  width: 100%;
  max-width: 300px;
}
.file_sidebar_link {
  width: 100%;
  text-decoration: none;
  color: #000;
  display: flex;
  padding: 5px;
}
.sidebar_list .MuiButtonBase-root {
  padding: 0;
}
.main_file_system {
  display: flex;
  align-items: flex-start;
}
.file_sidebar_wrap {
  width: 260px;
}
.file_folders_show {
  flex: 1;
  padding: 0 1rem;
}
.file_top_header {
  border-bottom: 1px solid #d0bfbf;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.file_folder_wrap {
  text-align: center;
}
.add_folder {
  text-align: end;
}
.add_folder button {
  text-align: end;
  color: #fff;
  background: #f1ae09;
  border: 0;
}
.add_folder button:hover {
  text-align: end;
  color: #fff;
  background: #f1ae09;
  border: 0;
}
.folder_icon img {
  /* font-size: 80px;
  color: #ebce22; */
  max-width: 100%;
  height: auto;
  width: 90px;
}
.selected {
    border: 1px solid #659be7;
    background: #c2d9f9;
}
.active {
    background: #c5c5c5;
    padding: 5px;
}